Integers are whole numbers and floats decimals. You can find the type of a class by using the type() function

In [2]:
num = 3
print(type(num))

num = 3.14
print(type(num))

<class 'int'>
<class 'float'>

We can do basic arithmatic with operators:
Addition:       +
Subtraction:    -
Multiplication: *
Division:       /
Floor Division: //
Exponent:       **
Modulus:        %

In [3]:
print(3 + 2)
print(3 - 2)
print(3 * 2)
print(3 / 2)
print(3 // 2)
print(3 ** 2)
print(3 % 2)

5
1
6
1.5
1
9
1

A common use of modulus is to find out if a number is either even or odd.

In [4]:
print(2 % 2)
print(3 % 2)
print(4 % 2)
print(5 % 2)

0
1
0
1

We can also change the normal order of operations using parenthesis.

In [5]:
print(3 * 2 + 1)
print(3 * (2 + 1))

7
9

There are a few ways of incrementing a variable.

In [12]:
num = 1

num = num + 1
print(num)

num = 1

num += 1
print(num)

2
2

We can use the same short cuts with other operators.

In [11]:
num = 2

num = num - 1
print(num)

num = 2

num -= 1
print(num)

num = 1

num = num * 10
print(num)

num = 1
num *= 10
print(num)

1
1
10
10

We can use the abs() function to remove negative numbers.

In [13]:
print(abs(-3))

3

We can use the round() function to round to the nearest whole value by default.

In [15]:
print(round(3.75))
print(round(3.75, 1))

4
3.8

We can use comparison operators:
Equal:                 ==
Not Equal:             !=
Greater Than:          >
Less Than:             <
Greater Than or Equal: >=
Less Than or Equal:    <=

In [20]:
num_1 = 3
num_2 = 2

print(num_1 == num_2)
print(num_1 != num_2)
print(num_1 > num_2)
print(num_1 < num_2)
print(num_1 >= num_2)
print(num_1 <= num_2)

False
True
True
False
True
False

We can convert a string into a number and vice versa using casting.

In [22]:
num_1 = "100"
num_2 = "200"

num_1 = int("100")
num_2 = int("200")

print(num_1 + num_2)

300