Lists and Tuples allow us to work with sequential data. Sets are unordered collections of values with no duplicates.
Lists are created using [].

In [2]:
courses = ["History", "Maths", "Physics", "ComSci"]
print(courses)

['History', 'Maths', 'Physics', 'ComSci']

If we want to see how many values are in our list, we can use the len() function.

In [3]:
print(len(courses))

4

We can access each of the values individually using their index. Negative indexes start at the end of a list, so if the index at the start of a list is 0, -1 is the last index in a list.

In [4]:
print(courses[0])
print(courses[-1])

History
ComSci

We can also access a range of values using their indexes. This is known as slicing. The syntax looks like this: [starting index:ending index]. The first index is inclusive and the end index is excluded.

In [5]:
print(courses[0:2])

['History', 'Maths']

We can leave the starting index blank to get the starting index: [:ending index].

In [6]:
print(courses[:2])

['History', 'Maths']

We can also leave the ending index blank to get the range of characters from a startind index to the end: [starting index:].

In [7]:
print(courses[2:])

['Physics', 'ComSci']

We can modify our list by appending or adding, removing and rearranging the order.

In [8]:
courses.append("Art")

print(courses)

['History', 'Maths', 'Physics', 'ComSci', 'Art']

We can insert() our value in a specific location in our list, we can use the insert method, which takes two arguments, index and the value

In [9]:
courses.insert(0, "Psychology")

print(courses)

['Psychology', 'History', 'Maths', 'Physics', 'ComSci', 'Art']

We can use the extend() method if we have multiple values that we want in our list. If we use the append() or insert() method than the whole list of values is added to our original list as a single value with one index.

In [10]:
courses_2 = ["Sociology", "French"]

courses.extend(courses_2)

print(courses)

['Psychology', 'History', 'Maths', 'Physics', 'ComSci', 'Art', 'Sociology', 'French']

To remove an item we can simply use the remove() method.

In [11]:
courses.remove("Maths")

print(courses)

['Psychology', 'History', 'Physics', 'ComSci', 'Art', 'Sociology', 'French']

We can also use the pop() method, which by default removes the last item in a list and is very useful in a stack or a queue.

In [12]:
courses.pop()

print(courses)

['Psychology', 'History', 'Physics', 'ComSci', 'Art', 'Sociology']

The pop() also returns the removed value, which means we can store our item that was removed.

In [13]:
popped = courses.pop()

print(popped)
print(courses)

Sociology
['Psychology', 'History', 'Physics', 'ComSci', 'Art']

To reverse our list, we can use the reverse() method.

In [14]:
courses.reverse()

print(courses)

['Art', 'ComSci', 'Physics', 'History', 'Psychology']

To sort our list, we can use the sort() method. This sorts the list in ascending order.

In [15]:
courses.sort()

print(courses)

['Art', 'ComSci', 'History', 'Physics', 'Psychology']

To order our list in descending order, we can pass an argument (reverse=True) into the sort() method.

In [16]:
courses.sort(reverse=True)

print(courses)

['Psychology', 'Physics', 'History', 'ComSci', 'Art']

To sort our list without making changes to our original list, we can use the sort() function and store in a new variable (as the changes are not in place).

In [19]:
sorted_courses = sorted(courses)

print(sorted_courses)

['Art', 'ComSci', 'History', 'Physics', 'Psychology']

We can use min() and max() functions to get the smallest or maximum value. We can use the sum() function to get the sum of all values in our list

In [21]:
nums = [1, 5, 2, 4, 3]

print(min(nums))
print(max(nums))
print(sum(nums))

1
5
15

We can use the index() method to get the index of a value.

In [22]:
print(courses.index("ComSci"))

3

To check if a value is in our list we can use the "in" operator.

In [24]:
print("Sociology" in courses)
print("ComSci" in courses)

False
True

We can use the "in" operator to loop through values in our list by using a for loop.

In [27]:
for course in courses:
    print(course)

Psychology
Physics
History
ComSci
Art

It may be useful to also get the index of the value along with the value itself that we are on in our loop using the enumerate() function. This means we need to create two temporary variables and print both out.

In [29]:
for index, course in enumerate(courses):
    print(index, course)

0 Psychology
1 Physics
2 History
3 ComSci
4 Art

We can start our index other than 0 but passing in the "start=" argument in the enumerate() function.

In [30]:
for index, course in enumerate(courses, start=1):
    print(index, course)

1 Psychology
2 Physics
3 History
4 ComSci
5 Art

We can turn our list into strings separated by a certain value using the method join().

In [34]:
print(courses)

course_str = ", ".join(courses)

print(course_str)

['Psychology', 'Physics', 'History', 'ComSci', 'Art']
Psychology, Physics, History, ComSci, Art

We can turn a string into a list by splitting our string on a certain value but using the split() method.

In [36]:
new_courses_list = course_str.split(", ")

print(course_str)
print(new_courses_list)

Psychology, Physics, History, ComSci, Art
['Psychology', 'Physics', 'History', 'ComSci', 'Art']

Tuples are similar to a list but we cannot modify it. In other words lists are mutable and tuples are immutable. Now if we have one list which is the value of another list and make changes to the first list than the other list will also change.

In [38]:
list_1 = ["History", "Maths", "Physics", "ComSci"]
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = "Art"

print(list_1)
print(list_2)

['History', 'Maths', 'Physics', 'ComSci']
['History', 'Maths', 'Physics', 'ComSci']
['Art', 'Maths', 'Physics', 'ComSci']
['Art', 'Maths', 'Physics', 'ComSci']

To avoid this we can use a tuple in parenthesis and do the same thing which would give us an error.

In [39]:
tuple_1 = ("History", "Maths", "Physics", "ComSci")
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

tuple_1[0] = "Art"

print(tuple_1)
print(tuple_2)

('History', 'Maths', 'Physics', 'ComSci')
('History', 'Maths', 'Physics', 'ComSci')

TypeError: 'tuple' object does not support item assignment

Sets are values without any duplicates. We use the curly braces to create a set.

In [42]:
cs_courses = {'History', 'Maths', 'Physics', 'ComSci', "Maths"}

print(cs_courses)

{'History', 'ComSci', 'Maths', 'Physics'}

We can use a membership test to check if a value is part of a set using the "in" operator. Sets are much more optimised for this than lists or tuples.

In [43]:
cs_courses = {'History', 'Maths', 'Physics', 'ComSci', "Maths"}

print("Maths" in cs_courses)

True

We can compare which items are in or not in another set using the intersection() method, which takes a set as an argument. To see which values are not in another set, we can use the difference() method, which takes a set as an argument. To return all items in a both sets, we can use the union() method, which takes a set as an argument.

In [46]:
cs_courses = {'History', 'Maths', 'Physics', 'ComSci'}
art_courses = {'History', 'Maths', 'Art', 'Design'}

print(cs_courses.intersection(art_courses))
print(cs_courses.difference(art_courses))
print(cs_courses.union(art_courses))

{'History', 'Maths'}
{'ComSci', 'Physics'}
{'Maths', 'Physics', 'History', 'Design', 'ComSci', 'Art'}

We can use built in classes to create empty lists, tuples, or sets. To create an empty set we have to use the built in set() class as an empty curly braces is a dictionary

In [48]:
empty_list = []
empty_list = list()

empty_tuple = ()
empty_tuple = tuple()

empty_set = {}
empty_set = set()